{{ if .IsPage }}
  <h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h1>
{{ else }}
  <h2><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h2>
{{ end }}
{{ if .Site.Params.post_date }}<div class="post-info">Published: {{ .PublishDate.Format "Jan 2, 2006" }}{{ if ne .PublishDate .Lastmod }} &middot; Updated: {{ .Lastmod.Format "Jan 2, 2006" }}{{ end }} &middot; By: <a href="{{ .Site.BaseURL }}about/" title="{{ .Site.Params.site_author }}">{{ .Site.Params.site_author }}</a></div>{{ end }}
