<script>
const myScript = document.getElementById('myScriptId');
const toggleSwitch = document.querySelector('.theme-switch input[type="checkbox"]');

toggleSwitch.addEventListener('change', switchTheme, false);
function switchTheme(e) {
  if (e.target.checked) {
    document.documentElement.setAttribute('data-theme', 'dark');
    localStorage.setItem('theme', 'dark');
    {{ with and (.Site.Params.comments) (ne .Params.comments false) (eq .Section "post") }}
      document.location.reload(true)
    {{ end }}
  } else {
    document.documentElement.setAttribute('data-theme', 'light');
    localStorage.removeItem('theme');
    {{ with and (.Site.Params.comments) (ne .Params.comments false) (eq .Section "post") }}
      document.location.reload(true)
    {{ end }}
  }
}

const currentTheme = localStorage.getItem('theme') ? localStorage.getItem('theme') : null;
if (currentTheme) {
  document.documentElement.setAttribute('data-theme', currentTheme);
  if (currentTheme === 'dark') {
    toggleSwitch.checked = true;
  }
  {{ with and (.Site.Params.comments) (ne .Params.comments false) (eq .Section "post") }}
    myScript.setAttribute('theme', 'github-dark');
  {{ end }}
}
</script>
