<script>
const myScript = document.getElementById('myScriptId');
const toggleSwitch = document.querySelector('.theme-switch input[type="checkbox"]');
const currentTheme = localStorage.getItem('theme');

if (currentTheme) {
  document.documentElement.setAttribute('data-theme', currentTheme);
  if (currentTheme === 'light') {
      toggleSwitch.checked = true;
      {{ with and (.Site.Params.comments) (ne .Params.comments false) (eq .Section "post") }}
        myScript.setAttribute('theme', 'github-light');
      {{ end }}
  }
}

toggleSwitch.addEventListener('change', switchTheme, false);

function switchTheme(e) {
  if (e.target.checked) {
    document.documentElement.setAttribute('data-theme', 'light');
    localStorage.setItem('theme', 'light');
    {{ with and (.Site.Params.comments) (ne .Params.comments false) (eq .Section "post") }}
      window.location.reload(true)
    {{ end }}
  } else {
    document.documentElement.setAttribute('data-theme', 'dark');
    localStorage.setItem('theme', 'dark');
    {{ with and (.Site.Params.comments) (ne .Params.comments false) (eq .Section "post") }}
      window.location.reload(true)
    {{ end }}
  }
}
</script>
