<style>
  .font-row-one {
    font-size: 16px;
    padding-top: 2px;
  }
  .font-row-two {
    font-size: 12px;
  }
</style>
<footer class="main-footer">
  <div class="container clearfix">
    <a class="icon-rss" href="{{ "post/index.xml" | absURL }}" title="RSS" target="_blank"></a>
    <div class="font-row-one">&copy; 2019 &#8208; {{ now.Year }} &middot; {{ .Site.Params.copyright | markdownify }}</div>
    <div><a href="{{ .Site.BaseURL }}about/" class="font-row-two">About</a> &middot; <a href="{{ .Site.BaseURL }}sitemap.xml" class="font-row-two">Sitemap</a> &middot; <a href="{{ .Site.BaseURL }}privacy-policy/" class="font-row-two">Privacy Policy</a></div>
  </div>
  
  {{- $jquery := resources.Get "js/jquery.min.js" -}}
  {{- $mark := resources.Get "js/jquery.mark.es6.min.js" -}}
  {{- $lunr := resources.Get "js/lunr.min.js" -}}
  {{- $search := resources.Get "js/search.js" -}}
  {{- $js := slice $jquery $mark $lunr $search | resources.Concat "bundle.js" | resources.Minify | resources.Fingerprint }}
  <script src="{{ $js.Permalink }}"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
  <script>window.jQuery || document.write('<script src="{{ "$jquery" | absURL }}"><\/script>')</script>
  <script src="{{ "js/plugins.js" | absURL }}"></script>
</footer>
