<nav class="navbar">
  <label class="navbar-toggle" id="js-navbar-toggle" for="chkToggle">
    <i class="fa fa-bars"></i>
  </label>
  {{- with .Site.Params.navbar_site_name }}
    <a href="{{ $.Site.BaseURL }}" class="logo">{{ $.Site.Params.navbar_site_name }}</a>
  {{ else }}
    <spacer></spacer>
  {{ end -}}
  <input type="checkbox" id="chkToggle"></input>
  <ul class="main-nav" id="js-menu">
    {{- if or (not (isset $.Site.Params "navbar_site_name")) (eq $.Site.Params.navbar_site_name "") }}
      <li>
        <br>
      </li>
    {{ end -}}
    <li>
      <a href="{{ .Site.BaseURL }}" class="nav-links">Home</a>
    </li>
    <li>
      <a href="#" class="nav-links">Products</a>
    </li>
    <li>
      <a href="#" class="nav-links">About Us</a>
    </li>
    <li>
      <a href="#" class="nav-links">Contact Us</a>
    </li>
      <li>
        <a href="{{ .Site.BaseURL }}search/" class="nav-links"><button type="submit" style="background: none; border: none; padding: 0;" title="Search"><i class="fa fa-search"></i></button></a>
      </li>
  </ul>
</nav>
