<!DOCTYPE html>
<html>
  {{ partial "head.html" . -}}
  <body>
    {{ partial "header.html" . -}}
    {{ partial "navbar" . -}}
    {{ partial "social" . -}}
    <div class="theme-switch-wrapper">
      <label class="theme-switch" for="checkbox" title="Dark Mode">
        <input type="checkbox" id="checkbox" />
        <div class="slider round"></div>
      </label>
      <label class="theme-switch-label">{{ .Site.Data.l10n.dark_mode.mode }}</label>
    </div>
    <br>
{{ if and (.Site.Params.googleAdsenseVerify) (ne .Params.googleAdsenseVerify false) }}
  <div style="margin: 20px 0; clear: both;">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    {{ "<!-- techStop_top_banner -->" | safeHTML }}
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-8645513020646755"
         data-ad-slot="9596113831"
         data-ad-format="auto"
         data-full-width-responsive="true"></ins>
    <script>
         (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
{{ end }}
    <div class="container clearfix">
      <main>
        {{- block "main" . }}{{- end }}
      </main>
    </div>
    {{ partial "dark-mode" . -}}
    {{ partial "footer.html" . -}}
  </body>
</html>
