{{ define "main" }}
  <article>
    <a class="btn home" href="{{ .Site.BaseURL }}" title="{{ .Site.Data.l10n.article.back_to_home }}">&laquo; {{ .Site.Data.l10n.article.back_to_home }}</a>
    {{ partial "article-header" . }}
    {{ .Content}}
    {{ partial "article-share" . }}
    {{ with and (.Site.Params.post_tags) (.Params.tags) }}
      {{ $.Site.Data.l10n.article.tagged_in }}
      {{ range $i, $v := $.Params.tags }}
        <a href="{{ $.Site.BaseURL }}tags/{{ $v | urlize }}">{{ $v | lower }}</a>{{ if ne (len $.Params.tags) (add $i 1) }}, {{ end }}
      {{ end }}
    {{ end }}
    <div style="margin-top: 18px; text-align: center;">
      {{ with or (.PrevInSection) (.NextInSection) }}
        <span>&middot; <strong>{{ $.Site.Data.l10n.article.more_posts }}</strong> &middot;</span>
      {{ end }}
      {{ with .NextInSection }}
        <div><a href="{{ .Permalink }}">&laquo; {{ .Title }}</a></div>
      {{ end }}
      {{ with .PrevInSection }}
        <div><a href="{{ .Permalink }}">{{ .Title }} &raquo;</a></div>
      {{ end }}
    </div>
  </article>
  <hr>
  {{ with and (.Site.Params.comments) (ne .Params.comments false) }}
    {{ partial "comments" . }}
  {{ end }}
  {{ partial "copy-code" . }}
{{ end }}
