{{ define "main" }}
  <article>
    <a class="btn home" href="{{ .Site.BaseURL }}" title="{{ .Site.Data.l10n.article.back_to_home }}">&laquo; {{ .Site.Data.l10n.article.back_to_home }}</a>
    {{ partial "article-header" . }}
    {{ .Content}}
    {{ partial "article-share" . }}
    {{ with and (.Site.Params.post_tags) (.Params.tags) }}
      {{ $.Site.Data.l10n.article.tagged_in }}
      {{ range $i, $v := $.Params.tags }}
        <a href="{{ $.Site.BaseURL }}tags/{{ $v | urlize }}">{{ $v | lower }}</a>{{ if ne (len $.Params.tags) (add $i 1) }}, {{ end }}
      {{ end }}
    {{ end }}
    <div style="margin-top: 18px; text-align: center;">
      {{ with .NextInSection }}
        <a href="{{ .Permalink }}" title="{{ .Title }}">&laquo; {{ $.Site.Data.l10n.article.prev }}</a>
      {{ end }}
      {{ if and (.PrevInSection) (.NextInSection) }}
        &nbsp; &nbsp; &middot; &nbsp; &nbsp;
      {{ end }}
      {{ with .PrevInSection }}
        <a href="{{ .Permalink }}" title="{{ .Title }}">{{ $.Site.Data.l10n.article.next }} &raquo;</a>
      {{ end }}
    </div>
  </article>
  <hr>
  {{ with and (.Site.Params.comments) (ne .Params.comments false) }}
    {{ partial "comments" . }}
  {{ end }}
  {{ partial "copy-code" . }}
{{ end }}
